<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000922177401-mbif9k05v1908j9koj5frcln3lp1i9i1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000922177401-mbif9k05v1908j9koj5frcln3lp1i9i1</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1000922177401-l3q0cvdjg62pl42lgdrbfj4as3stm87c.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAQ7N_vADFeT8g6M3VQEmK27AzWh3GPkTA</string>
	<key>GCM_SENDER_ID</key>
	<string>1000922177401</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.homegogomarket.seller.app</string>
	<key>PROJECT_ID</key>
	<string>homegogomarket</string>
	<key>STORAGE_BUCKET</key>
	<string>homegogomarket.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000922177401:ios:2e3fd2cf0661dc4c6559a8</string>
</dict>
</plist>